.home {
  height: 120vh;
  background-image: url("/src/assets/home/wallpaper1.jpg"); /* Replace with your image path */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //background-attachment: fixed; /* Optional: creates parallax effect */

  /* Optional: Add overlay for better text readability */
  position: relative;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 90%;
  //   height: 90%;
  //   background-color: rgba(0, 0, 0, 0.4); /* Dark overlay */
  //   z-index: 1;
  // }

  /* Ensure content appears above overlay */
  & > * {
    position: relative;
    z-index: 2;
    color: white;
  }
}

.content {
  margin-top: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 868px) {
    margin-left: 4vw;
  }
}

.heading {
  text-align: center;
  font-size: 10vh;
  font-family: "Libre Franklin", sans-serif;
  letter-spacing: 0px;
  font-weight: 600;
  line-height: 9.5vh;
  span {
    color: #f9c50d;
  }

  @media screen and (max-width: 868px) {
    font-size: 8vh;
  }

  @media screen and (max-width: 450px) {
    font-size: 6vh;
    line-height: 5.5vh;
  }
}

.description {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2vh;
  word-spacing: 0.4vh;
  letter-spacing: 0;
  line-height: 2.2vh;

  @media screen and (max-width: 868px) {
    font-size: 1.7vh;
  }
}
.yellowBoxContainer {
  display: flex;
  justify-content: center;
}
.yellowBox {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background: #f9c50d;
  height: 6.5rem;
  border-radius: 14px;
  width: 75rem;

  @media screen and (max-width: 1230px) {
    width: 95vw;
  }

  @media screen and (max-width: 1150px) {
    gap: 1.5rem;
  }
  @media screen and (max-width: 680px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
    height: auto;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #3c3c3c;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;

    @media screen and (max-width: 1150px) {
      font-size: 1.4rem;
    }
    @media screen and (max-width: 910px) {
      font-size: 1.2rem;
    }
    @media screen and (max-width: 680px) {
      font-size: 1.5rem;

      height: 4rem;
    }
    @media screen and (max-width: 450px) {
      justify-content: center;
    }
  }

  @media screen and (max-width: 868px) {
    gap: 1rem;
    width: 95vw;
  }
  @media screen and (max-width: 680px) {
    gap: 0rem;
  }
}

.clock {
  height: 4rem;
  width: auto;

  @media screen and (max-width: 910px) {
    height: 3rem;
  }
  @media screen and (max-width: 768px) {
    height: 2rem;
  }

  @media screen and (max-width: 450px) {
    height: 4rem;
  }
}

.money {
  height: 3.4rem;
  width: auto;
  @media screen and (max-width: 910px) {
    height: 2.4rem;
  }
  @media screen and (max-width: 768px) {
    height: 1.7rem;
  }
  @media screen and (max-width: 450px) {
    height: 4rem;
  }
}

.sustainable {
  height: 3.4rem;
  width: auto;

  @media screen and (max-width: 910px) {
    height: 2.4rem;
  }
  @media screen and (max-width: 768px) {
    height: 1.7rem;
  }

  @media screen and (max-width: 450px) {
    height: 4rem;
  }
}

.gear {
  height: 3.6rem;
  width: auto;

  @media screen and (max-width: 910px) {
    height: 2.6rem;
  }
  @media screen and (max-width: 768px) {
    height: 1.8rem;
  }
  @media screen and (max-width: 450px) {
    height: 4rem;
  }
}
